<a href="https://colab.research.google.com/github/PratibhaChavan/Machine-Learning-BE-Practicals/blob/main/ML_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 2
1.	Classify the email using the binary classification method. Email Spam detection has two states: a) Normal State – Not Spam, b) Abnormal State – Spam. Use K-Nearest Neighbors and Support Vector Machine for classification. Analyze their performance.
Dataset link: The emails.csv dataset on the Kaggle https://www.kaggle.com/datasets/balaka18/email-spam-classification-dataset-csv

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics

In [ ]:
df=pd.read_csv('/content/emails.csv')

In [ ]:
df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.info

<bound method DataFrame.info of        Email No.  the  to  ect  and  for  of    a  you  hou  ...  connevey  \
0        Email 1    0   0    1    0    0   0    2    0    0  ...         0
1        Email 2    8  13   24    6    6   2  102    1   27  ...         0
2        Email 3    0   0    1    0    0   0    8    0    0  ...         0
3        Email 4    0   5   22    0    5   1   51    2   10  ...         0
4        Email 5    7   6   17    1    5   2   57    0    9  ...         0
...          ...  ...  ..  ...  ...  ...  ..  ...  ...  ...  ...       ...
5167  Email 5168    2   2    2    3    0   0   32    0    0  ...         0
5168  Email 5169   35  27   11    2    6   5  151    4    3  ...         0
5169  Email 5170    0   0    1    1    0   0   11    0    0  ...         0
5170  Email 5171    2   7    1    0    2   1   28    2    0  ...         0
5171  Email 5172   22  24    5    1    6   5  148    8    2  ...         0

      jay  valued  lay  infrastructure  military  allowing  ff  dry  \
0       0       0    0               0         0         0   0    0
1       0       0    0               0         0         0   1    0
2       0       0    0               0         0         0   0    0
3       0       0    0               0         0         0   0    0
4       0       0    0               0         0         0   1    0
...   ...     ...  ...             ...       ...       ...  ..  ...
5167    0       0    0               0         0         0   0    0
5168    0       0    0               0         0         0   1    0
5169    0       0    0               0         0         0   0    0
5170    0       0    0               0         0         0   1    0
5171    0       0    0               0         0         0   0    0

      Prediction
0              0
1              0
2              0
3              0
4              0
...          ...
5167           0
5168           0
5169           1
5170           1
5171           0

[5172 rows x 3002 columns]>

In [ ]:
df.shape

(5172, 3002)

In [ ]:
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [ ]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.drop(['Email No.'],axis=1,inplace=True)
X = df.drop(['Prediction'],axis=1)
y= df['Prediction']

In [ ]:
from sklearn.preprocessing import scale
X = scale(X)
#split into train and test 
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size = 0.3,random_state=42)

In [ ]:
X

array([[-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [ 0.11575699,  0.71450797,  1.33733653, ..., -0.0562853 ,
         0.03067224, -0.07097072],
       [-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       ...,
       [-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.3951477 ,  0.0851585 , -0.2938948 , ..., -0.0562853 ,
         0.03067224, -0.07097072],
       [ 1.30786793,  1.86831533, -0.0102024 , ..., -0.0562853 ,
        -0.32904848, -0.07097072]])

In [ ]:
X_train

array([[ 0.03060621, -0.22951624, -0.2229717 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [ 0.20090777, -0.12462466, -0.2229717 , ..., -0.0562853 ,
         0.39039297, -0.07097072],
       ...,
       [-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.3951477 ,  0.50472481, -0.2938948 , ..., -0.0562853 ,
         0.75011369, -0.07097072],
       [-0.30999692, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072]])

In [ ]:
X_test

array([[-0.48029848, -0.54419098, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [ 0.5415109 ,  1.44874902,  4.31610679, ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.48029848,  0.81939955, -0.1520486 , ..., -0.0562853 ,
         1.46955514, -0.07097072],
       ...,
       [-0.3951477 , -0.54419098, -0.0811255 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.3951477 , -0.4392994 , -0.2229717 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.48029848, -0.54419098, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072]])

In [ ]:
y_train

1023    0
4587    0
4415    0
4863    1
4901    0
       ..
4426    0
466     0
3092    0
3772    1
860     1
Name: Prediction, Length: 3620, dtype: int64

In [ ]:
y_test

1566    0
1988    0
1235    1
3276    0
3438    0
       ..
3558    0
2298    0
1519    0
1740    0
1700    1
Name: Prediction, Length: 1552, dtype: int64

In [ ]:
X_train.shape

(3620, 3000)

In [ ]:
X_test.shape

(1552, 3000)

In [ ]:
y_train.shape

(3620,)

In [ ]:
y_test.shape

(1552,)

### **KNN classifier**

---

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

In [ ]:
print("Prediction",y_pred) #1 is spam and 0 is not spam

Prediction [0 0 1 ... 0 1 1]

In [ ]:
print("KNN Accuracy = ",metrics.accuracy_score(y_test,y_pred))

KNN Accuracy =  0.8518041237113402

In [ ]:
print("Confusion Matrix", metrics.confusion_matrix(y_test,y_pred))

Confusion Matrix [[894 203]
 [ 27 428]]

### **SVM Classifier**

In [ ]:
model = SVC(C=1)   # C is an offset value to account for some mis-classification of data that can happen.

In [ ]:
#Fit
model.fit(X_train,y_train)

SVC(C=1)

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
print("SVM Accuracy=",metrics.accuracy_score(y_test,y_pred))

SVM Accuracy= 0.9381443298969072

In [ ]:
metrics.confusion_matrix(y_true=y_test, y_pred=y_pred)

array([[1091,    6],
       [  90,  365]])